---
import Html from "../components/Icons/Html.astro";
import Css from "../components/Icons/Css.astro";
import JavaScript from "../components/Icons/JavaScript.astro";
import LinkButton from "../components/LinkButton.astro"
import Link from "../components/Icons/Link.astro"
import GitHubIcon from "../components/Icons/GitHub.astro"

const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-[#F9866D] text-black px-5 py-2 text-center items-center",
    icon: Html,
  },

  CSS: {
    name: "CSS",
    class: "bg-[#3498DB] text-black px-5 py-2 text-center items-center",
    icon: Css,
  },

  JAVASCRIPT: {
    name: "JAVASCRIPT",
    class: "bg-[#F9E79F] text-black px-5 py-2 text-center items-center",
    icon: JavaScript,
  },
};

const PROJECTS = [
  {
    title: "Proyecto Diseño Biblioteca",
    descripcion:
      "Este proyecto consiste en el mejoramiento visual del aplicativo Biblioteca, aplicando buenas practicas en el Fronted.",
    link: "#",
    GitHub:
      "https://github.com/BrayanMejia2004/PROYECTO-BIBLIOTECA-FRONTED.git",
    image: "/public/project/svglDB.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title: "Landing Page Mantenimiento",
    descripcion:
      "Practica de Landing Page, ractica para evaluar mis conocimientos aprendidos.",
    link: "https://brayanmejia2004.github.io/PRACTICA-DISENO-MANTENIMIENTO/",
    GitHub:
      "https://github.com/BrayanMejia2004/PRACTICA-DISENO-MANTENIMIENTO.git",
    image: "/public/project/svglDMT.webp",
    tags: [TAGS.HTML, TAGS.CSS],
  },
  {
    title: "Landing Page Tecnología",
    descripcion:
      "Recreación de landing page, que contiene todo lo esencial para que el cliente pueda elegirnos.",
    link: "https://brayanmejia2004.github.io/PRACTICA-DISENO-TECNOLOGIA/",
    GitHub: "https://github.com/BrayanMejia2004/PRACTICA-DISENO-TECNOLOGIA.git",
    image: "/public/project/svglDTN.webp",
    tags: [TAGS.HTML, TAGS.CSS],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, descripcion, tags, link, GitHub }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl ">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 my-2`}
              >
                <tag.icon />
                {tag.name }
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400 text-justify">{descripcion}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {GitHub && (
            <LinkButton href={GitHub}>
              <GitHubIcon />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link  />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>
